$header-color: #404040;
$bg-image: "../assets/skyline-buildings-new-york-skyscrapers.jpg";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-image: url( $bg-image );
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
}

#blog-post, #author-bio, .post-preview {
	height: 90%;
	position: relative;
	padding: 40px 40px;
}

.post-preview {
	height: 500px;
	opacity: 1;
}

.row {
    height: 100%;
	padding: 15px;
    background-color: #FFFFFF;
    opacity: 0.75;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 5px #909090;
}

.scrolled {
	opacity: 0;
}

#site-header, #under-header {
	height: 75px;
	background-color: $header-color;
}

/*
#site-header {
	position: fixed;
	z-index: 9999;
}
*/

#posts-wrapper {
	/* height: 500px; */
	background-color: cyan;
}

#site-footer {
	height: 400px;
	background-color: $header-color;
}
